<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Kitchen Management</title>

    <!-- Bootstrap components -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <!-- Latest compiled and minified Jquery -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"-->
    <!--            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"-->
    <!--            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"-->
    <!--            crossorigin="anonymous"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/checkout.css"/>
</head>
<body>

<script src="https://use.fontawesome.com/c560c025cf.js"></script>

<div class="jumbotron text-center">
    <strong>KITCHEN MANAGEMENT</strong>
</div>

<div class="container">
    <div class="col-50">
        <form name="checkout" action="/" method="get">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="The Real John Wick" required
                   minlength="1">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="email" id="email" name="email" placeholder="john.wick@example.com" required
                   minlength="1">
            <label for="phone"><i class="fa fa-institution"></i> Phone number</label>
            <input type="text" id="phone" name="phone" placeholder="+36704120102" required
                   minlength="12" maxlength="12">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" required
                   minlength="1">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="New York" required minlength="1">
            <div class="row">
                <div class="col-50">
                    <label for="state">State</label>
                    <input type="text" id="state" name="state" placeholder="NY" required minlength="1">
                </div>
                <div class="col-50">
                    <label for="zip">Zip</label>
                    <input type="number" id="zip" name="zip" placeholder="10001" required minlength="1">
                </div>
            </div>
            <input type="checkbox" checked="checked" name="sameadr">Shipping address same as billing
            <input type="submit" value="Continue to payment" class="btn">
        </form>
    </div>
    <form action="/cart/show/" method="get">
        <button type="submit" href="/cart/show/">Back to shopping cart</button>
    </form>

    <!--            <div class="pull-right">-->
    <!--                <a href="/cart/show/" class="btn btn-outline-secondary pull-right">-->
    <!--                    Back to Cart-->
    <!--                </a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="card-footer">-->
    <!--            <div class="pull-right" style="margin: 10px">-->
    <!--                <a href="/pay" class="btn btn-success pull-right">Pay</a>-->
    <!--                <div class="pull-right" style="margin: 5px">-->
    <!--                    Total price: <b th:text="${cart.getSumPrice()}">SumPrice</b>$-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

</div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>